

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="mySectionLabel" jhiTranslate="netraApp.section.home.createOrEditLabel">Create or edit a Section</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!section.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="section.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="netraApp.section.sectionId" for="field_sectionId">Section Id</label>
            <input type="number" class="form-control" name="sectionId" id="field_sectionId"
                [(ngModel)]="section.sectionId"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="netraApp.section.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="section.description"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="netraApp.section.sectionType" for="field_sectionType">Section Type</label>
            <input type="text" class="form-control" name="sectionType" id="field_sectionType"
                [(ngModel)]="section.sectionType"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
