
<div *ngIf="rtSched">
    <h2><span jhiTranslate="netraApp.rtSched.detail.title">Rt Sched</span> {{rtSched.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="netraApp.rtSched.rsType">Rs Type</span></dt>
        <dd>
            <span>{{rtSched.rsType}}</span>
        </dd>
        <dt><span jhiTranslate="netraApp.rtSched.updater">Updater</span></dt>
        <dd>
            <span>{{rtSched.updater}}</span>
        </dd>
        <dt><span jhiTranslate="netraApp.rtSched.updateTimeStamp">Update Time Stamp</span></dt>
        <dd>
            <span>{{rtSched.updateTimeStamp | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rt-sched/'+ rtSched.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
