

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myRtSchedValdLabel" jhiTranslate="netraApp.rtSchedVald.home.createOrEditLabel">Create or edit a Rt Sched Vald</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rtSchedVald.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rtSchedVald.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="netraApp.rtSchedVald.validType" for="field_validType">Valid Type</label>
            <input type="text" class="form-control" name="validType" id="field_validType"
                [(ngModel)]="rtSchedVald.validType"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="netraApp.rtSchedVald.updater" for="field_updater">Updater</label>
            <input type="text" class="form-control" name="updater" id="field_updater"
                [(ngModel)]="rtSchedVald.updater"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="netraApp.rtSchedVald.updateTimeStamp" for="field_updateTimeStamp">Update Time Stamp</label>
            <div class="input-group">
                <input id="field_updateTimeStamp" type="datetime-local" class="form-control" name="updateTimeStamp" [(ngModel)]="rtSchedVald.updateTimeStamp"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="netraApp.rtSchedVald.rtSched" for="field_rtSched">Rt Sched</label>
            <select class="form-control" id="field_rtSched" name="rtSched" [(ngModel)]="rtSchedVald.rtSched" >
                <option [ngValue]="null"></option>
                <option [ngValue]="rtSchedOption.id === rtSchedVald.rtSched?.id ? rtSchedVald.rtSched : rtSchedOption" *ngFor="let rtSchedOption of rtscheds; trackBy: trackRtSchedById">{{rtSchedOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
